[Unit]
Description=Breadboard Demo
After=multi-user.target systemd-timesyncd
[Service]
Type=simple
User=control
Restart=never
ExecStart=/usr/bin/python3 /home/control/breadboard_test.py
[Install]
WantedBy=multi-user.target