[Unit]
Description=Fluorometer Python Driver
After=multi-user.target
[Service]
Type=simple
Restart=always
User=control
ExecStart=/usr/bin/python3 /home/control/scripts/waitnrecv.py
[Install]
WantedBy=multi-user.target